div {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
    width: 100%;
    border: 5px solid black;

}

div img {
    margin: auto;
    height: 150px;
    width: 100%;
}

div h2{
    margin: auto;
}

header{
    position: relative;
}

h1{
    text-align: center;
}

select{
    position: absolute;
    margin-left: 545px;
    margin-top: -20px;
    width: 250px;
}

option{
    text-align: center;
}